* {
    font-family: sans-serif;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.content {
    font-size: 20px;
}

span, p {
    color: #407fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #407fff;
}

.btn {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: azure;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #407fff;
    transition: all 300ms;
}

.btn:hover {
    background-color: #4073ff;
    font-size: 24px;
    font-weight: 700;
}

.btn-disabled {
    background-color: #2033ff;
}

.btn-disabled:hover {
    background: #5066ff;
}

.blog {
    background-color: #ff2020;
}

.lb {
    padding: 10px;
    background: transparent;
}

.btn-commits {
    font-size: 12px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: azure;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #407fff;
    transition: all 300ms;
}

.btn-commits:hover {
    background-color: #4073ff;
    font-size: 16px;
    font-weight: 700;
}