@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

.title {
    font-family: 'Montserrat', sans-serif, monospace;
    font-size: 2em;
    align-items: center;
    padding-right: 20px;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.options a {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-right: 20px;
    color: black;
    cursor: pointer;

    transition: all 0.3s;
}

.options a:hover {
    text-decoration: underline;

    transform: scale(1.1);
}

.projects-btn {
    font-family: sans-serif, monospace;
    font-size: 1.2rem;
    color: black;
    border: none;

    transition: all 0.3s;
}

.projects-btn:hover {
    transform: scale(1.1);
}

.header-button-projects {
    position: relative;
    display: inline-block;
}

.projects-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.projects-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-button-projects:hover .projects-options {display: block;}
