@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

.content {
    padding: 10%;
    font-family: 'Montserrat', sans-serif, monospace;

    display: flex;
    text-align: center;
    justify-content: center;
}

.big-text {
    font-size: 3rem;
    font-weight: 800;
}

.paragraph {
    font-size: 0.26in;
}